{% load static %}
<!doctype html>
<html lang="en">

    <!-- Header -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Dileep Venkata Prasad Bocha">

        {% block 'title' %}
        <title>TradeHub . List Your Car Today!</title>
        {% endblock %}

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Bootstrap Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous">
        </script>

    </head>

    <!-- Body -->
    <body>
        
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block 'header' %}
        <header class="p-3 text-white w-100 nav-masthead">
            <div class='container'>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img class="bi me-2" width="40" height="40" src="{% static 'images/my.png' %}" aria-label="Bootstrap">
                        
                        <h3 class="float-md-mid mb-0" style="color: white">TradeHub</h3>
                        
                    </a>

                    {% if request.user.is_authenticated %}
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            
                        </ul>
                        <div class="text-end">
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li class="px-lg-3">
                                    <a class="nav-link px-2" href="{% url 'home' %}">
                                        <img class="mb-2" src="{% static 'images/Home1.png' %}" alt="" width="28" height="28">
                                    </a>
                                </li>
                                <li class="px-lg-3">
                                    <a href="{% url 'profile' %}" class="nav-link px-2">
                                        <img class="mb-0" src="{% static 'images/profile.png' %}" alt="" width="30" height="30">
                                    </a>
                                </li>
                                <li class="px-lg-3">
                                    <a href="{% url 'logout' %}" class="nav-link px-2">
                                        <img class="mb-0" src="{% static 'images/logout.png' %}" alt="" width="30" height="30">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

        </header>
        {% endblock %}

        {% block 'body' %}
        {% endblock %}
    </body>

    <!-- Footer -->
    {% block 'footer' %}
    <footer class="footer text-muted py-2" style="background-color:maroon;">
        <div class="container text-center">
            <p class="mb-1" style="color:white;">TradeHub - Best Place To Buy & Sell <i>CARS</i>.</p>
            <p class="mb-1" style="color:white;">Powered by <a href="https://www.djangoproject.com/" style="color:beige"><b>Django</b></a></p>
            
        </div>
    </footer>
    {% endblock %}
    
</html>